<template>
  <div class="dissertando-404">
    <span>Essa página não foi encontrada.</span>

    <q-btn no-caps class="dissertando-404__button" to="/">Voltar</q-btn>
  </div>
</template>

<script>
export default {
  name: 'Dissertando404',
};
</script>

<style lang="scss">
.dissertando-404 {
  display: grid;
  grid-gap: 2.5rem;
  grid-auto-rows: min-content;
  place-items: center;

  background-color: #fa802f;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 3.125rem 1rem 1rem 1rem;

  height: 100vh;
  width: 100%;

  &__button {
    justify-self: center;
    background: #2f80fa;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 7.5rem;
  }
}
</style>
