<template>
  <div class="dissertando-dashboard">
    <MainStructure></MainStructure>

    <div class="dissertando-dashboard__body">
      <div class="dissertando-dashboard__card">
        <div class="dissertando-dashboard__card--title">
          Redigir um texto

          <q-icon
            class="dissertando-dashboard__card--icon"
            name="post_add"
          ></q-icon>
        </div>

        <div class="dissertando-dashboard__card--body">
          <span>Toque para criar sua redação!</span>
        </div>
      </div>

      <div class="dissertando-dashboard__card">
        <div class="dissertando-dashboard__card--title">
          Corrigir uma redação

          <q-icon
            class="dissertando-dashboard__card--icon"
            name="edit"
          ></q-icon>
        </div>

        <div class="dissertando-dashboard__card--body">
          <span>Toque para corrigir uma redação!</span>
        </div>
      </div>

      <div class="dissertando-dashboard__card">
        <div class="dissertando-dashboard__card--title">
          Redações modelo

          <q-icon
            class="dissertando-dashboard__card--icon"
            name="format_list_bulleted"
          ></q-icon>
        </div>

        <div class="dissertando-dashboard__card--body">
          <span>Toque para abrir uma lista de redações modelo!</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainStructure from '../layouts/MainStructure.vue';

export default {
  name: 'DissertandoDashboard',

  components: {
    MainStructure,
  },
};
</script>

<style lang="scss">
.dissertando-dashboard {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: 64px 1fr;
  justify-items: center;

  width: 100%;

  &__body {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-items: center;

    padding: 1rem;

    width: 100%;
  }

  &__card {
    border-radius: 8px;
    background-color: rgb(248, 248, 252);

    width: 100%;
    max-width: 20rem;

    &--title {
      display: grid;
      grid-template-columns: 1fr auto;

      background-color: rgb(99, 99, 99);
      color: white;

      font-weight: 600;
      font-size: 1.125rem;

      border-radius: 8px 8px 0 0;
      padding: 1rem;
    }

    &--icon {
      font-size: 1.5rem;
    }

    &--body {
      font-weight: 600;
      font-size: 1rem;

      padding: 1rem;
    }
  }
}
</style>
