<template>
  <div class="dissertando-login">
    <form
      @submit.prevent.stop="formSubmit"
      @reset.prevent.stop
      class="dissertando-login__wrapper"
    >
      <div class="dissertando-login__title">Dissertando</div>

      <q-input
        v-model="email"
        ref="email"
        label-color="white"
        color="white"
        filled
        label="Entre com seu e-mail"
        lazy-rules
        :rules="[val => !!val || 'O e-mail não pode ficar vazio']"
      >
      </q-input>

      <q-input
        v-model="password"
        ref="password"
        label-color="white"
        color="white"
        :type="showPassword ? 'text' : 'password'"
        filled
        label="Senha"
        lazy-rules
        :rules="[
          val => !!val || 'A senha não pode ficar vazia',
          val =>
            val.length >= 6 || 'Utilize no mínimo 6 caracteres para a senha',
        ]"
      >
        <template v-slot:append>
          <q-icon
            @click="showPassword = !showPassword"
            :name="showPassword ? 'visibility' : 'visibility_off'"
          /> </template
      ></q-input>

      <div class="dissertando-login__social">
        <div class="dissertando-login__google"></div>
      </div>

      <q-btn
        type="submit"
        class="dissertando-login__button"
        no-caps
        :label="!loginSpinner ? 'Entrar' : ''"
      >
        <q-spinner v-if="loginSpinner" color="white" />
      </q-btn>

      <div
        @click="$router.push('/registro-usuario')"
        class="dissertando-login__register"
      >
        Não tem uma conta? <b>Cadastre-se!</b>
      </div>

      <div class="dissertando-login__forgotten">Esqueceu sua senha?</div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'DissertandoLogin',
  data() {
    return {
      email: '',
      password: '',
      showPassword: false,

      loginSpinner: false,
    };
  },

  methods: {
    formSubmit() {
      this.$refs.email.validate();
      this.$refs.password.validate();

      if (this.$refs.email.hasError || this.$refs.password.hasError) {
        this.formHasError = false;
      } else {
        this.loginEmail();
      }
    },

    formReset() {
      this.email = '';
      this.password = '';

      this.$refs.email.resetValidation();
      this.$refs.password.resetValidation();
    },

    async loginEmail() {
      this.loginSpinner = true;

      try {
        await this.$store.dispatch('user/login', {
          email: this.email,
          password: this.password,
        });

        this.$q.notify({
          type: 'positive',
          message: 'Login realizado com sucesso.',
        });

        this.formReset();
        this.$router.push({ path: '/' });
      } catch (error) {
        const message = error?.response?.data
          ? error.response.data
          : error.message;

        this.$q.notify({
          icon: 'warning',
          // eslint-disable-next-line operator-linebreak
          message: `Erro ao realizar login: ${message[0].toUpperCase() +
            message.slice(1)}.`,
        });
      }

      this.loginSpinner = false;
    },
  },
};
</script>

<style lang="scss">
.dissertando-login {
  display: grid;
  background: #fa802f;
  min-height: 100vh;
  justify-items: center;
  grid-auto-rows: min-content;
  width: 100%;

  &__wrapper {
    display: grid;
    grid-gap: 0.625rem;
    width: 100%;
    max-width: 25rem;
    padding: 1.5rem 1rem 0 1rem;

    @media (max-width: 319px) {
      padding: 3%;
    }
  }

  &__title {
    justify-self: center;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__button {
    justify-self: center;
    background: #2f80fa;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 7.5rem;
  }

  &__register {
    justify-self: center;
    color: rgb(253, 253, 255);
    cursor: pointer;
  }

  &__forgotten {
    justify-self: center;
    color: white;
    cursor: pointer;
  }

  input {
    color: white !important;
  }

  .text-negative {
    color: rgb(255, 244, 126) !important;
  }

  .q-field--error .q-field__bottom {
    background: #66656500;
    color: #fff;
  }
}
</style>
