<template>
  <div class="dissertando-register-user">
    <form
      @submit.prevent.stop="formSubmit"
      @reset.prevent.stop
      class="dissertando-register-user__wrapper"
    >
      <div class="dissertando-register-user__title">Realize seu cadastro!</div>

      <q-input
        v-model="name"
        ref="name"
        label-color="white"
        color="white"
        filled
        label="Nome"
        lazy-rules
        :rules="[val => !!val || 'O nome não pode ficar vazio']"
      ></q-input>

      <q-input
        v-model="email"
        ref="email"
        label-color="white"
        color="white"
        filled
        label="E-mail"
        lazy-rules
        :rules="[val => !!val || 'O e-mail não pode ficar vazio']"
      ></q-input>

      <q-input
        v-model="password"
        ref="password"
        label-color="white"
        color="white"
        :type="showPassword ? 'text' : 'password'"
        filled
        label="Senha"
        lazy-rules
        :rules="[
          val => !!val || 'A senha não pode ficar vazia',
          val =>
            val.length >= 6 || 'Utilize no mínimo 6 caracteres para a senha',
        ]"
      >
        <template v-slot:append>
          <q-icon
            @click="showPassword = !showPassword"
            :name="showPassword ? 'visibility' : 'visibility_off'"
          />
        </template>
      </q-input>

      <div class="dissertando-register-user__buttons">
        <q-btn
          @click="$router.replace('/login')"
          class="dissertando-register-user__button dissertando-register-user__button--flat"
          no-caps
          flat
          label="Voltar"
        ></q-btn>

        <q-btn
          type="submit"
          class="dissertando-register-user__button"
          no-caps
          :label="!registerSpinner ? 'Registrar' : ''"
        >
          <q-spinner v-if="registerSpinner" color="white"
        /></q-btn>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'DissertandoRegisterUser',

  data() {
    return {
      name: '',
      email: '',
      password: '',

      showPassword: false,

      registerSpinner: false,
    };
  },

  methods: {
    formSubmit() {
      this.$refs.name.validate();
      this.$refs.email.validate();
      this.$refs.password.validate();

      if (this.$refs.email.hasError || this.$refs.password.hasError) {
        this.formHasError = true;
      } else {
        this.register();
      }
    },

    formReset() {
      this.email = '';
      this.password = '';

      this.$refs.email.resetValidation();
      this.$refs.password.resetValidation();
    },

    async register() {
      this.registerSpinner = true;

      try {
        await this.$store.dispatch('user/register', {
          name: this.name,
          email: this.email,
          password: this.password,
        });

        await this.$store.dispatch('user/login', {
          email: this.email,
          password: this.password,
        });

        this.$q.notify({
          type: 'positive',
          message: 'Cadastro realizado com sucesso.',
        });

        this.$router.replace({ path: '/' });
        this.formReset();
      } catch (error) {
        const message = error.response.data
          ? error.response.data
          : error.message;
        // Translate error message based on the codes
        // TODO

        this.$q.notify({
          icon: 'warning',
          // eslint-disable-next-line operator-linebreak
          message: `Erro ao registrar : ${message[0].toUpperCase() +
            message.slice(1)}.`,
        });
      }

      this.registerSpinner = false;
    },
  },
};
</script>

<style lang="scss">
.dissertando-register-user {
  display: grid;
  background: #fa802f;
  min-height: 100vh;
  justify-items: center;
  grid-auto-rows: min-content;
  width: 100%;

  &__wrapper {
    display: grid;
    grid-gap: 0.625rem;
    width: 100%;
    max-width: 25rem;
    padding: 1.5rem 1rem 0 1rem;

    @media (max-width: 319px) {
      padding: 3%;
    }
  }

  &__title {
    justify-self: center;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__button {
    justify-self: end;
    background: #2f80fa;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 7.5rem;

    &--flat {
      background: none;
    }
  }

  input {
    color: white !important;
  }

  .text-negative {
    color: rgb(255, 244, 126) !important;
  }

  .q-field--error .q-field__bottom {
    background: #66656500;
    color: #fff;
  }
}
</style>
