<template>
  <div class="dissertando-update-user">
    <MainStructure></MainStructure>

    <form
      @submit.prevent.stop="formSubmit"
      @reset.prevent.stop
      class="dissertando-update-user__wrapper"
    >
      <div class="dissertando-update-user__title">Atualize seus dados</div>

      <!-- <q-file
        v-model="avatarImage"
        clearable
        ref="avatarImage"
        filled
        label="Escolha seu avatar"
        accept=".jpg, image/*"
        :rules="[]"
      >
        <template v-slot:after>
          <q-btn
            flat
            class="dissertando-update-user__icon-after-button"
            icon="add_a_photo"
          />
        </template>
      </q-file>

      <q-file
        v-model="backgroundImage"
        clearable
        ref="backgroundImage"
        filled
        label="Escolha seu banner"
        accept=".jpg, image/*"
        :rules="[]"
      >
        <template v-slot:after>
          <q-btn
            flat
            class="dissertando-update-user__icon-after-button"
            icon="add_a_photo"
          />
        </template>
      </q-file> -->

      <q-input
        v-model="name"
        ref="name"
        filled
        label="Altere seu nome"
        lazy-rules
        :rules="[val => !!val || 'O nome não pode ficar vazio']"
      ></q-input>

      <div class="dissertando-update-user__buttons">
        <q-btn
          @click="$router.back()"
          class="dissertando-update-user__button dissertando-update-user__button--flat"
          no-caps
          flat
          label="Voltar"
        ></q-btn>

        <q-btn
          type="submit"
          class="dissertando-update-user__button"
          no-caps
          :label="!updateSpinner ? 'Atualizar' : ''"
        >
          <q-spinner v-if="updateSpinner" color="white"
        /></q-btn>
      </div>
    </form>
    <!-- <croppa
        :remove-button-color="'black'"
        :prevent-white-space="true"
        :placeholder="'tes'"
        v-model="backgroundCropper"
        :accept="'image/*'"
        :show-loading="true"
        :width="80"
        :height="80"
      >
      </croppa>
    </div>

    <div class="dissertando-update-user__croppa">
      <croppa
        :remove-button-color="'black'"
        :remove-button-size="24"
        :prevent-white-space="true"
        :placeholder="'tes'"
        v-model="backgroundCropper"
        :accept="'image/*'"
        :show-loading="true"
        :width="300"
        :height="175"
      >
      </croppa> -->
  </div>
</template>

<script>
import Vue from 'vue';
import Croppa from 'vue-croppa';
import MainStructure from '../../layouts/MainStructure.vue';

Vue.use(Croppa);

export default {
  name: 'DissertandoUpdateUser',

  components: {
    MainStructure,
  },

  data() {
    return {
      avatarImage: null,
      backgroundImage: null,
      name: '',

      backgroundCropper: {},
      avatarCropper: {},

      updateSpinner: false,
    };
  },

  computed: {
    user() {
      const { name, email, role } = this.$store.state.user.userData;

      return {
        name: name || '',
        email: email || '',
        role: role || 0,
      };
    },
  },

  mounted() {
    this.name = this.user.name;
  },

  methods: {
    formSubmit() {
      this.$refs.name.validate();
      // this.$refs.backgroundImage.validate();

      if (this.$refs.name.hasError) {
        this.formHasError = false;
      } else {
        this.updateUser();
      }
    },

    formReset() {
      this.avatarImage = null;
      this.backgroundImage = null;

      this.$refs.avatarImage.resetValidation();
      this.$refs.backgroundImage.resetValidation();
    },

    updateUser() {
      console.log('atualizando');
      console.log(this.avatarImage);
    },
  },
};
</script>

<style lang="scss">
.dissertando-update-user {
  display: grid;
  grid-template-rows: 4rem 1fr;

  justify-items: center;

  min-height: 100vh;
  width: 100%;

  background: #f5f4f4;

  &__wrapper {
    display: grid;
    grid-gap: 0.625rem;
    grid-auto-rows: min-content;

    width: 100%;
    max-width: 25rem;

    padding: 1.5rem 1rem 0 1rem;

    @media (max-width: 319px) {
      padding: 3%;
    }
  }

  &__title {
    justify-self: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.125rem;

    padding: 0 0 1.25rem 0;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__button {
    justify-self: end;
    background: #2f80fa;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 7.5rem;

    &--flat {
      background: none;
      color: #2f80fa;
    }
  }

  &__icon-after-button {
    color: green;
    height: 48px;
    width: 48px;
  }
}
</style>
