<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="scss">
* {
  font-family: 'Quicksand';
}

.q-field__bottom {
  padding: 0.3125rem 0 0 0;
}

.q-field--error .q-field__bottom {
  // background: #66656500;
  // color: #fff;
  border-radius: 4px;
  padding: 0.5rem 0.25rem;
}

.q-field__label {
  // color: white;
  font-weight: 600;
}

.q-field__native,
.q-field__prefix,
.q-field__suffix,
.q-field__input {
  font-size: 1rem;
  font-weight: 600;
  // color: white;
}
</style>
