<template>
  <div class="dissertando-create-redaction">
    <MainStructure></MainStructure>

    <div
      class="dissertando-create-redaction__wrapper"
      v-show="choosingRedactionTheme"
    >
      <span class="dissertando-create-redaction__title">
        Escolha um tema
      </span>

      <q-list class="dissertando-create-redaction__list" separator>
        <q-item
          class="dissertando-create-redaction__item"
          v-for="(redactionTheme, index) in redactionThemes"
          :key="index"
          clickable
          v-ripple
          @click="chooseRedactionTheme(index)"
        >
          <q-item-section>
            <q-item-label>{{ redactionTheme.title }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <div
      class="dissertando-create-redaction__wrapper"
      v-show="!choosingRedactionTheme && !writingRedaction"
    >
      <span class="dissertando-create-redaction__title">
        {{ redactionTheme.title }}
      </span>

      <span class="dissertando-create-redaction__subtitle"
        >Textos Motivadores</span
      >

      <div
        class="dissertando-create-redaction__support-text"
        v-for="(supportText, index) in redactionTheme.supportText"
        :key="index"
      >
        <span class="dissertando-create-redaction__h1"
          >Texto {{ index + 1 }}</span
        >

        <span class="dissertando-create-redaction__paragraph">{{
          supportText
        }}</span>
      </div>

      <div class="dissertando-create-redaction__buttons">
        <q-btn
          @click="removeRedactionTheme"
          class="dissertando-create-redaction__button dissertando-create-redaction__button--flat"
          no-caps
          flat
          label="Voltar"
        ></q-btn>

        <q-btn
          @click="startWritingRedaction"
          type="submit"
          class="dissertando-create-redaction__button"
          no-caps
          label="Redação"
        >
        </q-btn>
      </div>
    </div>

    <form
      v-show="!choosingRedactionTheme && writingRedaction"
      @submit.prevent.stop="formSubmit"
      @reset.prevent.stop
      class="dissertando-create-redaction__wrapper"
    >
      <span class="dissertando-create-redaction__title">
        {{ redactionTheme.title }}
      </span>

      <q-file
        v-model="redactionImage"
        clearable
        ref="redactionImage"
        filled
        label="Foto da redação"
        accept=".jpg, image/*"
        hint="Envie a foto caso não queira digitar"
        :rules="[]"
        @update:model-value="updateRedactionImage"
        @rejected="onRejected"
      >
        <template v-slot:append>
          <q-btn
            flat
            class="dissertando-update-user__icon-after-button"
            icon="add_a_photo"
          />
        </template>
      </q-file>

      <q-input
        v-model="title"
        ref="title"
        filled
        label="Título"
        lazy-rules
        :rules="[]"
      ></q-input>

      <q-input
        v-model="introduction"
        ref="introduction"
        filled
        label="Introdução"
        lazy-rules
        autogrow
        :rules="[val => !!val || 'A introdução não pode ficar vazia']"
      ></q-input>

      <q-input
        v-model="development"
        ref="development"
        filled
        label="Desenvolvimento"
        lazy-rules
        autogrow
        :rules="[val => !!val || 'O desenvolvimento não pode ficar vazio']"
      ></q-input>

      <q-input
        v-model="conclusion"
        ref="conclusion"
        filled
        label="Conclusão"
        lazy-rules
        autogrow
        :rules="[val => !!val || 'A conclusão não pode ficar vazia']"
      ></q-input>

      <div class="dissertando-create-redaction__buttons">
        <q-btn
          @click="stopWritingRedaction"
          class="dissertando-create-redaction__button dissertando-create-redaction__button--flat"
          no-caps
          flat
          label="Tema"
        ></q-btn>

        <q-btn
          type="submit"
          class="dissertando-create-redaction__button"
          no-caps
          label="Finalizar"
        >
        </q-btn>
      </div>
    </form>
  </div>
</template>

<script>
import MainStructure from '../../layouts/MainStructure.vue';

export default {
  name: 'DissertandoCreateRedaction',

  components: {
    MainStructure,
  },

  data() {
    return {
      title: '',
      introduction: '',
      development: '',
      conclusion: '',

      redactionImage: null,

      showPassword: false,

      createRedactionSpinner: false,
      choosingRedactionTheme: true,
      writingRedaction: false,

      redactionThemes: [
        {
          title: 'Tema',
          supportText: [
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
          ],
        },

        {
          title: 'Tema 1',
          supportText: [
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
          ],
        },

        {
          title: 'Tema 2',
          supportText: [
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
          ],
        },

        {
          title: 'Tema 3',
          supportText: [
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
            'LOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUMLOREM ISPUM',
          ],
        },
      ],

      redactionTheme: {
        title: '',
        supportText: [],
      },
    };
  },

  methods: {
    formSubmit() {
      this.$refs.title.validate();
      this.$refs.introduction.validate();
      this.$refs.development.validate();
      this.$refs.conclusion.validate();

      if (
        this.$refs.title.hasError ||
        this.$refs.introduction.hasError ||
        this.$refs.development.hasError ||
        this.$refs.conclusion.hasError
      ) {
        this.formHasError = true;
      } else {
        this.createRedaction();
      }
    },

    formReset() {
      this.title = '';
      this.introduction = '';
      this.development = '';
      this.conclusion = '';

      this.$refs.title.resetValidation();
      this.$refs.introduction.resetValidation();
      this.$refs.development.resetValidation();
      this.$refs.conclusion.resetValidation();
    },

    async createRedaction() {
      this.createRedactionSpinner = true;

      try {
        await this.$store.dispatch('user/createRedaction', {
          name: this.name,
          email: this.email,
          password: this.password,
        });

        this.$q.notify({
          type: 'positive',
          message: 'Cadastro realizado com sucesso.',
        });

        // Ir para a redacão/id
        this.$router.replace({ path: '/' });
        this.formReset();
      } catch (error) {
        const message = error.response.data
          ? error.response.data
          : error.message;
        // Translate error message based on the codes
        // TODO

        this.$q.notify({
          icon: 'warning',
          // eslint-disable-next-line operator-linebreak
          message: `Erro ao registrar : ${message[0].toUpperCase() +
            message.slice(1)}.`,
        });
      }

      this.createRedactionSpinner = false;
    },

    chooseRedactionTheme(index) {
      this.choosingRedactionTheme = false;
      this.redactionTheme.title = this.redactionThemes[index].title;
      this.redactionTheme.supportText = this.redactionThemes[index].supportText;
    },

    removeRedactionTheme() {
      this.$q.notify({
        message: 'Deseja alterar o tema de sua redação?',
        color: 'white',
        textColor: 'black',
        actions: [
          {
            label: 'Não',
            color: 'black',
          },

          {
            label: 'Sim',
            color: 'blue',
            handler: () => {
              this.choosingRedactionTheme = true;
              this.redactionTheme.title = '';
              this.redactionTheme.supportText = [];
            },
          },
        ],
      });
    },

    startWritingRedaction() {
      this.writingRedaction = true;
    },

    stopWritingRedaction() {
      this.writingRedaction = false;
    },

    updateRedactionImage(teste) {
      console.log(teste);
      console.log('teste');
    },

    onRejected(teste) {
      console.log(teste);
      console.log('teste');
    },
  },
};
</script>

<style lang="scss">
.dissertando-create-redaction {
  display: grid;
  grid-template-rows: 4rem 1fr;

  justify-items: center;

  min-height: 100vh;
  width: 100%;

  background: #f5f4f4;

  &__wrapper {
    display: grid;
    grid-gap: 1.25rem;
    grid-auto-rows: min-content;

    width: 100%;
    max-width: 25rem;

    padding: 1.5rem 1rem 0 1rem;

    @media (max-width: 19.9375rem) {
      padding: 3%;
    }
  }

  &__title {
    justify-self: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.25rem;

    padding: 0 0 1.25rem 0;
  }

  &__subtitle {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.125rem;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__button {
    justify-self: end;
    background: #2f80fa;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 7.5rem;

    &--flat {
      background: none;
      color: #2f80fa;
    }
  }

  &__icon-after-button {
    color: green;
    height: 48px;
    width: 48px;
  }

  &__support-text {
    display: grid;
    grid-gap: 0.3125rem;
  }

  &__h1 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1rem;
  }

  &__paragraph {
    font-size: 1rem;
  }

  &__list {
    border-radius: 0.5rem;
  }

  &__item {
    background-color: white;

    font-size: 1.125rem;
    font-weight: 600;
  }
}
</style>
