<template>
  <q-layout class="dissertando-main-structure" v-if="userIsloggedIn">
    <div class="dissertando-main-structure-toolbar">
      <div
        @click="$router.push('/')"
        class="dissertando-main-structure-toolbar__title"
      >
        Dissertando
      </div>

      <q-icon
        class="dissertando-main-structure-toolbar__user-info"
        @click="toggleDrawer"
        name="more_vert"
      ></q-icon>
    </div>

    <q-drawer v-model="drawerOpen" side="right">
      <div class="dissertando-main-structure-drawer__header">
        <q-avatar
          class="dissertando-main-structure-drawer__avatar"
          font-size="2rem"
          >{{ nameInitials }}</q-avatar
        >

        <div class="dissertando-main-structure-drawer__name">
          {{ user.name }}
        </div>

        <div class="dissertando-main-structure-drawer__role">
          {{ roleName }}
        </div>
      </div>

      <div class=" dissertando-main-structure-drawer__body">
        <q-expansion-item
          group="drawer"
          default-opened
          class="dissertando-main-structure-drawer__section"
          label="Redações"
          expand-icon-class="text-white"
        >
          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
          >
            Modelos
          </q-item>

          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
            :to="'/criar-redacao'"
          >
            Redigir uma redação
          </q-item>

          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
          >
            Corrigir uma redação
          </q-item>

          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
          >
            <span>Redações já corrigidas</span>

            <q-icon
              class="dissertando-main-structure-drawer__icon"
              name="settings"
            ></q-icon>
          </q-item>

          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
          >
            Temas

            <q-icon
              class="dissertando-main-structure-drawer__icon"
              name="settings"
            ></q-icon>
          </q-item>
        </q-expansion-item>

        <q-expansion-item
          group="drawer"
          class="dissertando-main-structure-drawer__section"
          label="Gerenciar usuário"
          expand-icon-class="text-white"
        >
          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
            to="/atualizar-usuario"
          >
            Alterar dados
          </q-item>

          <q-item
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
          >
            Trocar senha
          </q-item>

          <q-item
            @click="logout"
            clickable
            v-ripple
            class="dissertando-main-structure-drawer__item"
          >
            Sair

            <q-icon
              class="dissertando-main-structure-drawer__icon"
              name="logout"
              to="/login"
            ></q-icon>
          </q-item>
        </q-expansion-item>
      </div>
    </q-drawer>
  </q-layout>
</template>

<script>
export default {
  name: 'DissertandoMainStructure',

  data() {
    return {
      drawerOpen: false,
    };
  },

  computed: {
    user() {
      const { name, email, role } = this.$store.state.user.userData;

      return {
        name: name || '',
        email: email || '',
        role: role || 0,
      };
    },

    userIsloggedIn() {
      return !!this.$store.state.user.token;
    },

    nameInitials() {
      const names = this.user.name.split(' ');
      const namesLength = names.length - 1;

      const firstNameInitial = names[0].charAt(0);
      const lastNameInitial =
        namesLength > 0 ? names[namesLength].charAt(0) : '';

      const nameInitials = firstNameInitial + lastNameInitial;

      return nameInitials;
    },

    roleName() {
      if (this.user.role === 1) {
        return 'Aluno';
      }
      if (this.user.role === 2) {
        return 'Professor';
      }

      if (this.user.role === 3) {
        return 'Master Baiter';
      }

      return '';
    },
  },

  methods: {
    toggleDrawer() {
      this.drawerOpen = !this.drawerOpen;
    },

    async logout() {
      try {
        await this.$store.dispatch('user/logout');

        this.$q.notify({
          type: 'positive',
          message: 'Você realizou o logout.',
        });

        this.$router.push({ path: '/login' });
      } catch (error) {
        const message = error?.response?.data
          ? error.response.data
          : error.message;

        this.$q.notify({
          icon: 'warning',
          // eslint-disable-next-line operator-linebreak
          message: `Erro ao realizar logout: ${message[0].toUpperCase() +
            message.slice(1)}.`,
        });
      }
    },
  },
};
</script>

<style lang="scss">
.dissertando-main-structure {
  min-height: auto !important;
}

.dissertando-main-structure-toolbar {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  background-color: #fa802f;
  padding: 0 0.75rem;

  height: 4rem;
  width: 100%;

  &__title {
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  &__user-info {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.3125rem;
  }
}

.dissertando-main-structure-drawer {
  &__header {
    display: grid;
    grid-gap: 0.3125rem;
    justify-items: center;

    background-color: #fa802f;

    height: 10.9375rem;
    padding: 1rem;
  }

  &__avatar {
    background-color: #ffffff;
    color: rgb(141, 137, 137);

    height: 5rem;
    width: 5rem;
  }

  &__name {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__role {
    color: #f9fafc;
    font-size: 1rem;
    font-weight: 600;
  }

  &__body {
    display: grid;
    background-color: #a7a7a7 !important;
  }

  &__section {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__item {
    display: grid;
    grid-template-columns: 0 1fr auto;
    align-items: center;

    background-color: #ffffff !important;
    border: solid rgb(165, 164, 164);
    border-width: 0 0 1px 0;
    color: black;

    font-size: 1rem;
    font-weight: 600;

    height: 3rem;
    width: 100%;

    padding: 0.5rem 1rem;
  }

  &__icon {
    justify-self: end;

    font-size: 1.5rem;
  }
}
</style>
